{% extends 'base.html.twig' %}

{% block title %}Welcome!{% endblock %}

{% block body %}
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand" href="{{ path('app_home_index') }}">To-do List</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapse" aria-controls="collapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="collapse">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{{ path('app_home_index') }}">Home</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="accordion" id="accordion">
        {% for i, task in tasks %}
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-{{ i }}" aria-expanded="false" aria-controls="collapse-{{ i }}">
                        <span>{{ task.title }}</span>
                    </button>
                </h2>
                <div id="collapse-{{ i }}" class="accordion-collapse collapse" data-bs-parent="#accordion">
                    <div class="accordion-body">
                        {% if task.description %}
                            <p>{{ task.description }}</p>
                        {% endif %}

                        {% if task.imageName %}
                            <img src="{{ vich_uploader_asset(task) }}" alt="{{ task.title }}">
                        {% endif %}

                        <button>{{ 'Message user'|trans }}</button>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
