<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">

        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">

        {% block stylesheets %}
        {% endblock %}
    </head>
    <body>
        <nav class="navbar navbar-expand-lg bg-body-tertiary">
            <div class="container-fluid">
                <a class="navbar-brand" href="{{ path('app_home_index') }}">To-do List</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapse" aria-controls="collapse" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="collapse">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            {% if app.request == path('app_home_index') %}
                                <a class="nav-link active" aria-current="page" href="{{ path('app_home_index') }}">Home</a>
                            {% else %}
                                <a class="nav-link" href="{{ path('app_home_index') }}">Home</a>
                            {% endif %}
                        </li>

                        {% if app.user %}
                            <li class="nav-item">
                                {% if app.request == path('app_admin_task_index') %}
                                    <a class="nav-link active" aria-current="page" href="{{ path('app_admin_task_index') }}">Admin</a>
                                {% else %}
                                    <a class="nav-link" href="{{ path('app_admin_task_index') }}">Admin</a>
                                {% endif %}
                            </li>
                        {% endif %}
                    </ul>

                    {% if app.user %}
                        <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modal-messages" type="submit">
                            <span>{{ 'Messages'|trans }}</span>
                        </button>
                        <a class="btn" href="{{ path('app_logout') }}">{{ 'Sign Out'|trans }}</a>
                    {% else %}
                        <a class="btn btn-primary" href="{{ path('app_login') }}">{{ 'Sign In'|trans }}</a>
                        <a class="btn" href="{{ path('app_user_signup') }}">{{ 'Sign Up'|trans }}</a>
                    {% endif %}
                </div>
            </div>
        </nav>

        {% block body %}{% endblock %}

        {% if app.user %}
            <div id="modal-messages" class="modal" tabindex="-1">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">{{ 'Messages'|trans }}</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body" data-message="{{ 'There is no message'|trans }}"></div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{{ 'Close'|trans }}</button>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}

        {% block javascripts %}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </body>
</html>
