<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">

        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">

        {% block stylesheets %}
        {% endblock %}
    </head>
    <body>
    <div class="form-sign-up m-auto w-100">
        <h1 class="h3 mb-3 font-weight-normal">Please sign up</h1>

        {{ form_start(form) }}
        {{ form_widget(form) }}

        <button class="btn btn-primary" type="submit">Sign up</button>
        <a class="btn" href="{{ path('app_login') }}">Sign in</a>
        <a class="btn" href="{{ path('app_home_index') }}">Back to site</a>

        {{ form_end(form) }}
    </div>

        {% block javascripts %}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </body>
</html>
